@import "src/Styles/mixins";

.userContainer {
  position: relative;
  padding: 6px;
  cursor: pointer;
  outline: dashed 0 var(--regular-light-gray);
  outline-offset: 0;

  &:focus-visible {
    transition: opacity 0.3s, var(--outline-transition);
    outline: 2px dashed var(--very-dark-gray);
    outline-offset: 3px;
    color: var(--very-dark-gray);
  }

  &.active {
    background-color: var(--dark-tomato);
    fill: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 20px;
    height: 20px;
    transition: fill 0.2s;
  }

  &:not(.active):hover svg {
    fill: #6f6f6f;
  }

  &.active svg {
    transform: scale(0.7);
  }
}

@include small {
  .userContainer {
    display: none;
  }
}
