@import "src/Styles/mixins";

.mainSlider {
  width: 100%;
  height: 344px;
  user-select: none;
  border-radius: 10px;
}

@include large {
  .mainSlider {
    width: 100%;
    margin-bottom: 0px;
  }
}

@include medium {
  .mainSlider {
    height: 280px;
  }
}