@import "src/Styles/mixins";

.input {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--medium-light-gray);
  width: 100%; // Make width responsive
  max-width: 100%; // Adjust max-width for better responsiveness
  position: relative;
  margin: 0 auto; // Center align the input

  &:has(:focus) {
    border-color: var(--white);

    & input {
      color: var(--white);
    }
  }
}

.input>input {
  outline: none;
  border: none;
  color: var(--medium-light-gray);
  background-color: transparent;
  padding: 10px; // Adjust padding for better alignment
  flex: 1; // Make input take up available space
  font-size: 1rem; // Adjust font size for better readability
}

.input>label {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.input button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; // Center align button content
  transition: background-color 0.3s; // Smooth background color transition
}

.input button:disabled {
  cursor: not-allowed;
  opacity: 0.6; // Make button look disabled
}

.input svg {
  width: 1.5em; // Use relative units
  height: 1.5em; // Use relative units
  max-width: 22px; // Ensure maximum width
  max-height: 22px; // Ensure maximum height
}

.input svg path {
  stroke: var(--medium-light-gray);
}

.input:has(:focus) svg path {
  stroke: var(--white);
}

.input>input::selection {
  background-color: var(--white) !important;
}

.loader {
  position: relative;
  width: 16px; /* Adjust size for better visibility */
  height: 16px; /* Adjust size for better visibility */
  animation: spin 1s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: -2px; /* Adjust position to cover the top border */
  left: -2px; /* Adjust position to cover the top border */
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(to right, #7eaa26, #3498db, #e74c3c, #9b59b6, #f39c12);
  animation: changeGradient 3s linear infinite, glow 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes changeGradient {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.5); } /* Reduced glow effect */
  50% { box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.9); } /* Increased glow effect */
}

@include very-small {
  .input {
    width: 100%; // Ensure full width on very small screens
  }

  .input svg {
    width: 1.2em; // Adjust size for very small screens
    height: 1.2em; // Adjust size for very small screens
  }
  .input>input {
    font-size: .7rem; // Adjust font size for better readability
    width: 0;
  }
}
