@import "src/Styles/mixins";

.menuSection {
  max-width: 250px;
  min-width: 180px;
  left: -200%;
  transition: left .5s ease;

  &.active {
    left: 0;
  }
}

.menuSection.mobile {
  position: fixed;
  top: 0;
  background-color:white;
  height: calc(100vh - (100vh - 100%));
  padding: 15px;
  z-index: 1000;
}

.section>h2 {
  font-weight: 500;
  font-size: .9rem;
  text-align: start;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--dark-tomato);
}

.section>ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px 0;
  font-size: 11px;
}

.section>ul>li>a {
  outline: none;
  color: gray;

  &:hover {
    color: var(--dark-tomato);
  }

  // &:not(:focus-visible)[class=active] {
  //   color: var(--dark-tomato);

  //   &:hover {
  //     color: var(--tomato);
  //   }
  // }

  &:focus-visible {
    text-decoration: underline;
    color: var(--orange-degree2);
  }
}