.sidebar {
  position: fixed;
  left: -250px; /* Adjust based on your layout */
  top: 0;
  bottom: 0;
  width: 230px; /* Adjust based on your sidebar width */
  background-color: #252525;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 1000;

  &.active {
    left: 0;
  }

  .top {
    margin-top: 4rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: 600;
      color: white;
      letter-spacing: 1px;
    }
  }

  .center {
    padding: 15px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: 500;
        color: gray;
        margin-top: 15px;
        margin-bottom: 5px;
        letter-spacing: 0.5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          border-radius: 5px;
          background-color: rgba(87, 87, 87, 0.5);
        }

        .icon {
          font-size: 18px;
          color: white;
        }

        span {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.5px;
          color: white;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  // // Overlay styles
  // &::after {
  //   content: "";
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  //   z-index: -1; /* Ensure the overlay is behind the sidebar */
  //   pointer-events: none; /* Ensure the overlay does not block clicks on sidebar content */
  //   transition: background-color 0.3s ease; /* Transition for smooth appearance */
  // }

  // &.active::after {
  //   background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  //   pointer-events: auto; /* Enable clicks on the overlay */
  // }
}
