@import "src/Styles/mixins";

.productsPage {
  margin: var(--page-margin);
  margin-top: 20px;
  padding: 10px;
}

.products {
  margin: var(--page-margin);
  min-height: 351px;
  margin-top: 20px;
}


.filters{
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.priceInput {
  width: 10%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  box-sizing: border-box;
}
.SkeletonCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.sortOptions {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1300px) {
  .SkeletonCards {
    grid-template-columns: repeat(3, 1fr);
  }
  .priceInput {
    width: 15%;
  }
  .sortOptions {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

@include medium {
  .SkeletonCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .priceInput {
    width: 15%;
  }
  .sortOptions {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .SkeletonCards {
    grid-template-columns: 1fr;
  }
  .priceInput {
    width: 10%;
  }
  .sortOptions {
    width: 50%;
  }
}




