@import "src/Styles/mixins";

.productsPage {
  margin: var(--page-margin);
  margin-top: 20px;
  padding: 10px;
}

.products {
  margin: var(--page-margin);
  min-height: 351px;
  margin-top: 20px;
}


.filters{
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
  justify-content: end;
  display: flex;
  width: 100%;
}
.priceInput {
  width: 10%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  box-sizing: border-box;
}
.SkeletonCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1300px) {
  .SkeletonCards {
    grid-template-columns: repeat(3, 1fr);
  }
  .priceInput {
    width: 15%;
  }
}

@include medium {
  .SkeletonCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .priceInput {
    width: 15%;
  }
}

@media (max-width: 600px) {
  .SkeletonCards {
    grid-template-columns: 1fr;
  }
  .priceInput {
    width: 10%;
  }
}

.sortOptions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.sortOptions label {
  font-size: 12px; // Adjust font size as needed
  color: #333; // Adjust color as needed
  margin-right: 10px; // Space between label and select dropdown
}

.sortOptions select {
  padding: 8px 12px; // Adjust padding for better appearance
  border: 1px solid #ddd; // Border color and style
  border-radius: 4px; // Rounded corners
  background-color: #fff; // Background color
  font-size: 12px; // Adjust font size as needed
  color: #555; // Text color
  cursor: pointer; // Pointer cursor on hover
  outline: none; // Remove default outline on focus
  transition: border-color 0.3s; // Smooth transition for border color
}

.sortOptions select:focus {
  border-color: #007bff; // Highlight border color on focus
}
