@import "src/Styles/mixins";

.products {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 0;
}

@media (max-width: 1440px) {
  .products {
    grid-template-columns: repeat(4, 2fr);
  }
}

@include medium {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 5px;
    font-size: 14px;
  }
}